.income-list, .expense-list  .modal-body {
    color: #290661;
}

.category-btn, .operations-btn {
    font-size: 14px;
}

.income-create, .income-edit,
.expense-create, .expense-edit .form-control {
    color: #290661;
}

.income-create, .income-edit,
.expense-create, .expense-edit .form-control:active,
.income-create, .income-edit,
.expense-create, .expense-edit .form-control:focus {
    box-shadow: unset !important;
}

select {
    cursor: pointer;
}

.category-item {
    min-height: 121px;
}

table {
    min-width: 260px;
}

thead tr th {
    letter-spacing: 1.33px;
}
