@import url("fonts.css");
@import url("auth.css");
@import url("finances.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-width: 320px;
    color: #052C65;
}

.wrapper {
    display: flex;
    position: relative;
}

.menu-icon {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
}

.menu-icon img svg {
    fill: #052C65;
}

.menu-close {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 52px;
}

.menu-close img svg {
    fill: #052C65;
}

.menu-close img svg:hover {
    opacity: 0.5;
}

.menu {
    display: flex;
    position: fixed;
    width: 218px;
    height: 100vh;
}

.nav-pills .nav-link {
    color: #052C65;
    font-size: 14px;
}

.nav-pills .nav-link.active {
    color: white;
}

.nav-pills .nav-link.active svg path {
    fill: white;
}

.accordion {
    --bs-accordion-border-width: 0;
}
.accordion-item {
    border: none;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item.accordion-active {
    --bs-accordion-active-bg: #0D6EFD;
    --bs-accordion-active-color: white;
}

.accordion-item.accordion-active:has(> button) {
    border: 1px solid #0D6EFD;
}

.accordion-item.accordion-active .accordion-button {
    background: #0D6EFD;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-item.accordion-active .accordion-button::after {
    filter: brightness(0) invert(1);
}

.accordion-body .accordion-link {
    border-radius: 0;
}

.accordion-button {
    font-size: 14px;
    color: #052C65;
}

.accordion-button::after {
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(-90deg);
}

.accordion-button[aria-expanded="true"] {
    font-size: 14px;
    color: #052C65;
    box-shadow: unset !important;
}

.accordion-button[aria-expanded="true"]::after {
    transform: rotate(0deg);
}

.accordion-item:last-of-type>.accordion-collapse {
    border: none;
}

.brand-link {
    border-bottom: 1px solid #D9D9D9;
}

.user-panel {
    border-top: 1px solid #D9D9D9;
}

.content-wrapper {
    padding: 100px 60px 0 279px;
    max-width: 1300px;
}

.line {
    border-left: 1px solid #D9D9D9;
    height: 450px;
    margin-top: 57px;
}

.tabs .tab-item .btn.btn-outline-secondary {
    width: 100px;
}

.tabs .datepicker input {
    text-decoration-skip-ink: none;
    width: 63px;
}

.datepicker input:active,
.datepicker input:focus {
    outline: 0;
    outline-offset: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.chart-container {
    box-sizing: content-box;
    width: 1091px;
    height: 467px;
}

.chart {
    padding-right: 24px;
    padding-left: 24px;
}

.line {
    margin-right: 60px;
    margin-left: 60px;
}
